.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@font-face {
  font-family: "bord";
  src: url(./ITC\ Garamond\ Light\ Condensed.woff2);
}

@font-face {
  font-family: "nanu";
  src: url(./NiveauGroteskLight-Italic.woff2);
}



.noise::before{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  content: "";
  opacity: 0.1;  
  z-index: 1000;
  pointer-events: none;
  background: url(/src/components/img/noise.gif) ;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}